
<h2 class="headerRegister">Local Businesses in Denver!</h2>

<ul>
  {{#each smallbusiness}}
      {{> smallbusiness/smallbusiness-block submit=true}}
  {{/each}}
</ul>

<div class="container">
  <li>

    {{smallbusiness}}
  </li>


</div>
















