<h1>Denver Small Business Support</h1>

<h2>Home</h2>

<ul>
  {{#each smallbusiness}}
    {{#unless search}}
      {{> smallbusiness/smallbusiness-block search=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Registration</h2>

<ul>
  {{#each smallbusiness}}
    {{#if submit}}
      {{> smallbusiness/smallbusiness-block submit=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Explore</h2>

<ul>
  {{#each smallbusiness}}
    {{#unless search}}
      {{> smallbusiness/smallbusiness-block search=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2 class="headerRegister">Local Businesses in Denver!</h2>












