<h1>Register Your Business</h1>


<h2>Registration</h2>

<ul>
  {{#each smallbusiness}}
    {{#if submit}}
      {{> smallbusiness/smallbusiness-block submit=true}}
    {{/if}}
  {{/each}}
</ul>














