html, body {
    height:100%;
} 

body {
    background: url('https://i.imgur.com/ohtr4Dd.png') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Quicksand', sans-serif !important;
    /* color:#203346; */

    /* background: #5bc4c4;
    background: -webkit-linear-gradient(to right, #5bc4c4, #19547b);
    background: linear-gradient(to right, #5bc4c4, #19547b); */

  }

.navbar {
    
    background-color: #203346 !important;
    box-shadow:none !important;
  }

  .navbar-toggler {
    border:none !important;
  }

  a.navbar-brand {
    font-weight: bold;
    font-size: 28px;
    color: white !important;
    
  }
  .fa-map-pin {
    margin-right: 5px;
    height: auto;
}
  .navbar .navbar-nav .nav-link {
    color: whitesmoke;
  }
  a.nav-link:hover {
    color:#93c8d3 !important;
  }
  li.nav-item.active {
    font-weight:bold !important;
    text-decoration:underline;
    color: white !important;
  }

  /* .navbar:hover {
    color: teal;
  } */

  .image {
      width: 50%;
      align-self: center;
      padding: 10px;
  }
  
  .businessOfTheWeek {
      align-content: center;
  }

  /* search bar css */

.form-control:focus {
    box-shadow: none;
    margin-bottom: -20px;
  }
  
.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }

  /* REGISTRATION PAGE */
.registrationPage {
  background-image:none !important;
}

.mb-5 {
  margin-bottom: 0 !important;
}

/*HERO IMAGE*/
.registrationHeader {
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(to bottom right, rgba(38, 128, 167, 0.8), rgba(147, 200, 211, .8) ), url(registrationPic.jpg) no-repeat center center !important;
  margin-bottom: 60px;
}

.headerRegister {
  text-align: center;
  color: white;  
  font-size: 60px;
  font-weight: bold;
}

/*REGISTRATION FORM*/
.registrationInfo {
  text-align: center;
  font-size: 24px;
  color:#203346;
}

.register .form-control:focus {
  box-shadow: none;
  margin-bottom: 0;
  border-color:	#ac7c73;
}

.register label {
  color: #2680a7;
  font-weight: bold;
}

.register {
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width:60%;
}
.register input {
  color:#203346;
  font-family: 'Quicksand', sans-serif;
}

.btnRegister {
    background:#2680a7;
    font-size: 150%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-bottom: 30px;
    border: none;
    border-radius:100px;
    padding: 5px 20px;
    color: white;
    font-weight: bold !important;
    font-family: 'Quicksand', sans-serif;
  }

.btnRegister:hover {
  background-color: #203346;
  transition: ease-in .15s;
}

/*FOOTER*/
footer {
  padding:30px;
  border-top:1px solid #203346;
  background-color: #203346;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

footer p{
  margin-bottom: 0;
}

/* BUSINESS PAGE */
.businessHeader {
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(to bottom right, rgba(38, 128, 167, 0.4), rgba(147, 200, 211, .4) );
  margin-bottom: 60px;
}

.headerBusiness {
  text-align: center;
  color: #203346;  
  font-size: 60px;
  font-weight: bold;
}
h6.cardType {
  color: #9099a3;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 12px;
}

h3.card-title {
  color: #2680a7;
  font-weight: bold;
  font-size: 28px;
}

h4.card-text {
  font-size: 18px;
  height: 150px;
}

@media screen and (max-width: 1087px) {
  .navbar>.container {
      display: inherit;
  }
}

@media screen and (max-width:768px) {
    .left, .main, .right {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .container {
        width: 100%;
        padding-left:14px;
        padding-right:14px;
    }
    /*width of registration form for tablet and mobile*/
    .register {
      width:100%;
    }
  }